
body {  
    background-color:#6793C5;
    font-family: 
}

.circle {
  border-radius: 50%;
}

/* css3 2 line ellipsis for text overflow */
.ellipsis-2 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.panel h3, .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.home {
  font-size: 4em;
}

.home:hover { 
  color: lime;
}

.home:active {
  color: green;
}


.heart {
  font-size: 4em;
}

.heart:hover { 
  color: pink;
}

.heart:active {
  color: red;
}


.delete {
  color: red;
  float: right;
  z-index: 10;
  font-size: 1.5em;
}

.delete:active {
  color: darkred;
}



.cancel {
  font-size: 4em;
  margin-left: 40px;
}

.cancel:hover { 
  color: red;
}

.cancel:active {
  color: darkred;
}


.save {
  font-size: 4em;
  margin-right: 40px;
}

.save:hover { 
  color: blue;
}

.save:active {
  color: darkblue;
}

.mfchoice {
  font-size: 2em;
}

.mfchoice:hover {
  text-shadow: 0 0 5px skyblue;
}

textarea {
  resize: none;
  height: 60px;
}

.blue {
  color: blue;
}

.pink {
  color: pink;
}